$blue: hsl(219, 85%, 26%);
$dark-blue: hsl(224, 21%, 14%);
$Light-gray: hsl(205, 33%, 90%);
$Light-grayish: hsl(211, 68%, 94%);
$Grayish-blue: hsl(219, 14%, 63%);
$Dark-grayish-blue: hsl(219, 12%, 42%);
$Very-light-grayish-blue: hsl(210, 60%, 98%);
$Red: hsl(1, 90%, 64%);
